<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boolflix - Milestone 4</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
</head>

<body>
  
  <!-- apertura wrapper -->
  <div class="wrapper">

    <!-- apertura navbar -->
    <nav class="d-flex" id="navtest">

        <!-- navabar left -->
        <div class="navbar_left d-flex">
          <img src="assets/img/logo.png" alt="">

          <!-- apertura nav_movie_genre -->
            <ul class="nav_movie_genre d-flex">
              <li><a href="">Home</a></li>
              <li><a href="">Serie TV</a></li>
              <li><a href="">Film</a></li>
              <li><a href="">Nuovi e popolari</a></li>
              <li><a href="">La mia lista</a></li>
            </ul>
          <!-- chiusura nav_movie_genre -->
        </div>
        <!-- chiusura navabar left -->

        <!-- navbar right -->
        <div class="navbar_right d-flex">
          <input type="text" placeholder="Inserisci il titolo del film" v-on:keyup.enter="searchMovies()" v-model="movieInput">
          <i class="fas fa-search"></i>
          <span>BAMBINI</span>
          <i class="fas fa-gift"></i>
          <i class="fas fa-bell"></i>
          <i class="fas fa-user"></i>
        </div>

    </nav>
    <!-- chiusura navbar -->
    
    <!-- apertua head -->
    <head>
      <div class="jumbroton">
      </div>
    </head>
    <!-- chiusura head -->

    <!-- apertura container -->
    <div class="container d-flex">
      
      <!-- apertura main -->
      <main>

        <!-- apertura movie box -->
        <div class="movie_box d-flex">
  
          <!-- apertura movie card -->
          <div class="movie_card flex_column d-flex" v-for="movie in searchArray" >
            <img :src="`${movie.imageURL}`" alt="" v-if="movie.poster_path !== null">
            <div class="no_poster_image d-flex" v-if="movie.poster_path === null">
              <h2 id="main_title_movie"><strong>Titolo: </strong> {{movie.title || movie.name}}</h2>
            </div>
            <div class="overlay">
              <p id="main_title_movie"><strong>Titolo: </strong> {{movie.title || movie.name}}</p>
              <p id="original_title_movie"><strong>Titolo originale: </strong>{{movie.original_title || movie.original_name}}</p>
              <span v-if="movie.original_language === 'en'">{{movie.original_language}}</span>
              <img v-else :src="`${movie.flagUrl}`" id="flag" :alt="`Lingua: ${movie.original_language}`">
              <div class="vote_stars d-flex" >
                <span>
                  <strong>Voto: </strong>
                  <i class="fas fa-star" v-if="star === 'full'" v-for="star in movie.voteInStars"></i><i class="far fa-star" v-if="star === 'empty'" v-for="star in movie.voteInStars"></i>
                </span>
              </div>
                <strong>Cast: </strong>
                <span v-for="actor in movie.cast">{{actor}} </span>
              <p v-if="movie.overview"><strong>Trama: </strong>{{movie.overview}}</p>
            </div>

          </div>
          <!-- chiusura movie card -->
  
        </div>
        <!-- chiusura movie box -->

      </main>
      <!-- chiusura main -->

    </div>
    <!-- chisura container -->

  </div>
  <!-- chiusura wrapper -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>